# --------------------
# Server
# --------------------
CLERK_SECRET_KEY=sk_test_cAj07YO5jPXYLTWZOGixJWRkMFyGNoLcUfYozNV1LV
CLERK_WEBHOOK_SECRET="whsec_test_1234567890abcdef"

RESEND_FROM="no-reply@example.com"
RESEND_TOKEN="re_test_1234567890abcdef"

DATABASE_URL="postgres://user:password@localhost:5432/devdb"

STRIPE_SECRET_KEY="sk_test_51Hxxxxxx1234567890"
STRIPE_WEBHOOK_SECRET="whsec_test_abcdef1234567890"

BETTERSTACK_API_KEY="bs_test_abcdef1234567890"
BETTERSTACK_URL="https://api.betterstack.com"

FLAGS_SECRET="sk_test_1234567890abcdef"
ARCJET_KEY="ajkey_test_1234567890abcdef"
SVIX_TOKEN="sk_test_1234567890abcdef"
LIVEBLOCKS_SECRET="sk_test_1234567890abcdef"

BASEHUB_TOKEN="bshb_pk_yfehow9unfeoiy6xjyus2l6urqzpa50y67kqql9ry3e9oq86v32kz9x351kyzqs5"

VERCEL_PROJECT_PRODUCTION_URL="http://localhost:3001"

KNOCK_API_KEY="knock_test_abcdef1234567890"
KNOCK_FEED_CHANNEL_ID="knock_channel_test_abcdef"

# --------------------
# Client
# --------------------

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2V0dGxpbmctbW9ua2V5LTU4LmNsZXJrLmFjY291bnRzLmRldiQ
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/"

NEXT_PUBLIC_GA_MEASUREMENT_ID="G-TEST1234"

NEXT_PUBLIC_POSTHOG_KEY="test"
NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WEB_URL="http://localhost:3001"
NEXT_PUBLIC_API_URL="http://localhost:3002"
NEXT_PUBLIC_DOCS_URL="http://localhost:3004"
